Eric's feedback

== DISCUSS ==

I question the inclusion of CurveCP in the mix as per
https://curvecp.org/addressing.html it does not seem to support IPv6. At the
bare minimum, the I-D should mention this restriction in section 3. (and I hope
to be corrected about CurveCP IPv6 support).


----------------------------------------------------------------------
COMMENT:
----------------------------------------------------------------------

Please respond to the IoT-directorate review by Mohit:
https://mailarchive.ietf.org/arch/msg/iot-directorate/xTVOvQ7kI78sDPZQuVsTvGB2x0s
Please respond to the INT-DIR review by Brian:
https://mailarchive.ietf.org/arch/msg/int-dir/2IHPgukaAAMvMjO7TXvo_ujcI_I +
Gorry Fairhurst's about GRE

Generic comment about the intended transport: all protocols analyzed in this
document are point to point (no multicast), this should probably be mentioned
in the introduction.

-- Section 1 --
Is there any reason why the integrity property of IPsec AH is not mentioned ?
Same also applies in section 2 when "security protocol" is defined.

-- Section 3 --
Use the wording of "record protocol" generically while the term "record
protocol" is defined in section 2 as a blocked data transport (like in TLS).
Suggest the use of "data transfer protocol" ?

An important property of such protocols is to be able to traverse a NAPT box
(that I hate)... I suggest to mention whether the analyzed protocols support
NAT-traversal in this description section or even in the analysis parts as
having a different view (application and network layers seeing possibly
different IP addresses so a potential impact on the API).

From Magnus:

Eric and I have discussed this and the proposal is a clarifying change to the initial statement in Section 3:
 
OLD:
 
   This section contains brief descriptions of the various security
   protocols currently used to protect data being sent over a network.
 
NEW:
 
   This section contains brief transport and security descriptions of the various security
   protocols currently used to protect data being sent over a network.
 
The purpose of this change to clarify that these descriptions are only concerning relevant aspects of transport and security.
 
Are the WG and authors ok with the above change?

From Gorry:

I think GRE (the one I know more) should be mentioned as existing somehow.

... even if the WG doesn't want to add an analysis of GRE!
A suggested starting text blob proposal for GRE could be:

Generic Routing Encapsulation [RFC2784] specifies a protocol for encapsulation of an arbitrary protocol over another arbitrary network layer protocol.  GRE tunnels do not by default provide security features. [RFC2890] describes enhancements by which two fields, Key and Sequence Number, can be optionally carried in the GRE Header to implement security functions. [RFC8086] specifies a method of encapsulating network protocol
packets using GRE in UDP. GRE can be used in combination with IPsec (see RFC2890). 

Just a note: 
We're not addressing his comment on including NAT traversal as a feature, right?

I think a good explanation for this is that with TAPS we can do racing, e.g., if a secure transport protocol does not work because of NAT, we might use the same protocol but tunneled over UDP. Thus the problem of NAT traversal can be orthogonal to what we describe in our draft.

> NEW:
> 
> This section contains brief transport and security descriptions of the various security
> protocols currently used to protect data being sent over a network.

Maybe change "of the various" to "of various", since otherwise it can be read as suggesting these are all the security protocols used.

@csperkins applied your suggested change!

@theri Yes, let's just comment in our email response.